:root {
    --font-color: #333;
    --background-color: #eee;
}

[data-theme='dark'] {
    --font-color: #eee;
    --background-color: rgb(54, 54, 54);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
    color: var(--font-color);
}

ul li {
    text-decoration: none;
    display: block;
    float: left;
    padding: 20px;
    background-color: aquamarine;
    margin: 10px;
    border-radius: 10px;
}

.list {
    text-decoration: none;
    color: var(--font-color);
}

.bar {
    width: 100%;
    max-height: 300px;
    background-color: rgb(170, 170, 170);
}

header h1 {
    width: 100%;
    padding: 25px;
    font-size: 30px;
    font-family: monospace;
    opacity: 0.8;
}

h3 {
    padding: 20px;
    margin-left: 20px;
}

.note-input_table {
    max-width: 800px;
    margin: 0 auto;
    padding: 16px;
}

.note-input_table h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
}

.note-input {
    border: 1px dashed black;
    padding: 20px;
    margin: 14px 0;
    border-radius: 8px;
    margin-top: 5%;
}

.note-input input {
    display: block;
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    font-family: 'Inter', sans-serif;
}

.note-input button {
    width: 100%;
    background-color: rgb(209, 66, 66);
    padding: 12px;
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.titlename {
    color: rgb(249, 249, 249);
    margin-top: 10px;
}

input::placeholder,
textarea::placeholder {
    color: rgb(65, 65, 65);
    font-weight: bold;
}

.note-list {
    width: 100%;
    padding: 20px;
    margin-top: 5%;
    margin-left: 10px;
}

.title_list_note {
    margin-bottom: -70px;
    margin-top: 80px;
    font-size: 30px;
}

.card_note-item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 2%;
    width: 100%;
    overflow: hidden;
    height: 640px;
    display: block;
    float: left;
    min-height: 380px;
    max-height: 500px;
    width: 22%;
    border: 1px solid black;
    padding: 10px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.detail_note_header {
    background-color: rgb(13, 152, 106);
    margin: 0;
    color: white;
    text-align: center;
}

.note-detail_title {
    text-align: center;
    margin-top: 20px;
}

.note-detail {
    display: block;
    float: left;
    min-height: 360px;
    max-height: fit-content;
    width: 75%;
    border: 1px solid black;
    padding: 20px;
    margin: 3% 20% 20% 10%;
    border-radius: 10px;
    background-color: rgb(7, 181, 123);
}

.note-item_createdAt {
    padding-right: 10px;
}

.note-item h3 {
    text-align: center;
}

.note-body .note-item_createdAt .note-item_title {
    display: block;
}

.note-body {
    margin-top: 15px;
    margin-bottom: 8px;
}

.note-item_body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    font-size: 16px;
    margin: 5px 0px;
    line-height: 1.5em;
}

.note-item_title {
    font-size: 22px;
    padding: 7px;
    margin: 4px 0px;
}

.note-item_createdAt {
    font-size: 14px;
    margin: 4px 0px;
}

.note-list h3 {
    text-align: center;
}

.character-limit p {
    text-align: center;
}

.note-item_delete {
    background-color: rgb(209, 66, 66);
    color: white;
    border-radius: 10px;
    padding: 10px;
    max-width: 30%;
    border: hidden;
}

.empty-page p {
    text-align: center;
    margin-left: 20px;
}

.title_form_input {
    margin-top: 100px;
    margin-bottom: -90px;
    text-align: center;
    padding-bottom: 20px;
    font-size: 26px;
}

.container_form {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 100px;
}

.title_reff {
    text-decoration: none;
    color: var(--font-color);
    margin-left: -5px;
}

.search-bar {
    width: 20%;
    float: right;
    margin-bottom: -20px;
}

.search-bar input {
    border-radius: 15px;
    margin-right: 15px;
}

.form-login-title,
.form-register-title {
    text-align: center;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.login-container,
.register-container {
    width: 350px;
    background: white;
    margin: 80px auto;
    padding: 30px 20px;
    height: 350px;
}

.form-login,
.form-register {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    font-size: 11pt;
    margin-bottom: 20px;
}

label {
    font-size: 16px;
}

.login-container button,
.register-container button {
    background: #46de4b;
    color: white;
    font-size: 14px;
    width: 30%;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}

input[type=text],
input[type=email],
input[type=password] {
    padding: 10px 16px;
    width: 100%;
    display: inline-block;
    margin: 7px 0;
    border: 2px solid orange;
    box-sizing: border-box;
}

@media only screen and (min-width: 500px) {
    .notes-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 300px) {
    .notes-list {
        grid-template-columns: 1fr 1fr;
    }
    .card_note-item {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 2%;
        overflow: hidden;
        height: 640px;
        display: block;
        float: left;
        min-height: 380px;
        max-height: 500px;
        width: 80%;
        border: 1px solid black;
        padding: 10px;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 15px;
        border-radius: 10px;
    }
    .title_list_note {
        margin-bottom: -70px;
        margin-top: 230px;
        margin-left: 20px;
        font-size: 24px;
    }
    .search-bar {
        margin-top: -50px;
        float: left;
        margin-left: 15%;
    }
    .search-bar input {
        width: 350%;
    }
    .title-detail {
        margin-top: 180px;
        text-align: center;
    }
    .note-detail {
        margin-top: 30px;
    }
}

@media only screen and (min-width: 800px) {
    .notes-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .note-search input {
        min-width: 400px;
    }
    .card_note-item {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 2%;
        width: 25%;
        overflow: hidden;
        height: 640px;
        display: block;
        float: left;
        min-height: 380px;
        max-height: 500px;
        border: 1px solid black;
        padding: 10px;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 15px;
        border-radius: 10px;
    }
    .search-bar {
        margin-top: -60px;
        float: right;
        margin-right: 70px;
    }
    .title_list_note {
        margin-bottom: -70px;
        margin-top: 180px;
        margin-left: 20px;
        font-size: 24px;
    }
    .search-bar input {
        width: 120%;
    }
}

@media only screen and (min-width: 1100px) {
    .notes-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .note-search input {
        min-width: 400px;
    }
    .card_note-item {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 2%;
        width: 21.2%;
        overflow: hidden;
        height: 640px;
        display: block;
        float: left;
        min-height: 380px;
        max-height: 500px;
        border: 1px solid black;
        padding: 10px;
        margin-top: 50px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 15px;
        border-radius: 10px;
    }
    .search-bar {
        margin-top: -60px;
        float: right;
        margin-right: 110px;
    }
    .title_list_note {
        margin-bottom: -70px;
        margin-top: 140px;
        margin-left: 20px;
        font-size: 24px;
    }
    .search-bar input {
        width: 120%;
    }
    .title-detail {
        margin-top: 100px;
        text-align: center;
    }
    .note-detail {
        margin-top: 50px;
    }
    .note-list {
        margin-left: 60px;
    }
}